<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.busfahren.wikipedia</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>DF9810A7-98C6-4368-A812-15B76C762E18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5BADA25-1D2C-4CF1-97B3-E7ACF27151FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Willi Raschkowski</string>
	<key>description</key>
	<string>Search Wikipedia</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Wikipedia</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5BADA25-1D2C-4CF1-97B3-E7ACF27151FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>w</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>wikipedia.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Wikipedia for '{query}'</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DF9810A7-98C6-4368-A812-15B76C762E18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow lets you search the Wikipedia. It is build using Kenneth Reitz's requests library (https://github.com/kennethreitz/requests) and uses the DBpedia endpoint by Pablo Mendes and Matt Haynes (https://github.com/dbpedia/lookup).</string>
	<key>uidata</key>
	<dict>
		<key>D5BADA25-1D2C-4CF1-97B3-E7ACF27151FC</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>DF9810A7-98C6-4368-A812-15B76C762E18</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>maxHits</key>
		<string>9</string>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
